services:
  pocketbase:
    image: ${IMAGES_PREFIX:-}pocketbase
    restart: unless-stopped
    volumes:
      - ./pocketbase/pb_data:/pb/pb_data
      - ./pocketbase/pb_migrations:/pb/pb_migrations
      - ./pocketbase/pb_hooks:/pb/pb_hooks
    